<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sue.open.mapper.MemberMapper">

	<select id="selectById" resultType="com.sue.open.member.Member">
	select * from member where id = #{id}
	</select>
	
	<insert id="insertMember" parameterType="com.sue.open.member.Member">
	insert into member(id, password, name, photo) values(#{id}, #{password}, #{name}, #{photo})
	</insert>
	
	<select id="getList" resultType="com.sue.open.member.Member">
	select * from member
	</select>
</mapper>